@import "~bootstrap/dist/css/bootstrap.css";

html,body{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    } 